#pozaBack{
    max-width: 86%;
    margin-left: 16.5%;
    margin-top: -12vh;
    height: 40vh;
}
#pozaBack img{
    position: relative;
    height: 100%;
    width: 100%;
}
#SectiuneGrup {
    border: 2px solid #00ffcc;
    width: 86%;
    margin-left: 15%;
    display: flex;
}
#SectiuneGrup h3{
    color: white;
    margin-left: 7vw;
}
#alaturateGrup {
    background: transparent;
    font-weight: 600;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 25px;
    outline: none;
    color: white;
    transition: color 0.3s 0.1s ease-out;
    width: 10vw;
    height: 36px;
    text-align: center;
    align-content: center;
    margin-left: 10vw;
    margin-top: 1.5vh;
}
#alaturateGrup button{
    background: none;
    border:none;
    color: white;
}
#alaturateGrup:hover {
    color: #36353d;
    border: 1px solid white;
    background-color: white;
}
    #alaturateGrup:hover button{
        color: black;
    }