#SetariProfil{
    border: 1px solid white;
    width: 50vw;
    margin-left: 33vw;
    border-radius: 5vw;
}
#SetariProfil h3{
    color: white;
    text-align: center;
}
#SetariProfil h4{
    color: white;
    margin-left: 3vw;
}
#SetariProfil b{
    color:red;
}
.stergeGrup {
    border: 1px solid red;
    margin-left: 33vw;
    width: 50vw;
    border-radius: 5vw;
}
.stergeGrup h4 {
    color: red;
    margin-left: 3vw;
}
.stergeGrup form{
    margin-top: -2vh;
    margin-left: 2vw;
}